
#skills {
    margin-top: 50px;
}

.skill_header {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    font-size: 54px;
    font-weight: 700;
    color: var(--white);
    position: relative;
}

.skill_header_underline {
    position: absolute;
    bottom: 0;
    background-color: var(--soft);
    height: 7px;
    border-radius: 3px;
    width: 180px;
}

.skill_header_test {
    position: absolute;
    left: 150px;
    bottom: 14px;
    height: 7px;
    width: 50px;
    border-radius: 3px;
    background-color: var(--white);
}

.skill_content {
    display: flex;
    margin: 10px;
}

.skill_progress_bar {
    margin-left: 5px;
    height: 330px;
    width: 12px;
    border-radius: 8px;
    background-color: var(--soft);
}

.skill_table {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-template-rows: repeat(4, 90px 1fr);
}

.skill_icon {
    display: flex;
    width: 100%;
    grid-column: span 1;
    justify-content: center;
    align-items: center;
}

.skill_icon_wrapper {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.skill_table_title {
    color: var(--white);
    font-size: 48px;
    font-weight: 400;
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.skill_table_title_underline {
    width: 100%;
    background-color: var(--soft);
}

#skill_title_database {
    grid-row: 1/2;
}

.skill_icon_label {
    color: var(--soft);
}

.arrow_component {
    stroke: var(--soft);
}

.arrow {
    transition: transform ease-in-out 1s;
}

.arrow_1 {
    transform: translateY(25px);
}

.arrow_2 {
    transform: translateY(25px);
}

.arrow_hidden {
    transform: translateY(-30px);
}

.arrow_hidden_animation {
    transform: translateY(25px);
}

.arrow_1_animation {
    transform: translateY(40px);
}

.arrow_2_animation {
    transform: translateY(80px);
}

.connector_point {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft);
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

.connector_dash {
    width: 10px;
    height: 65%;
    background-color: var(--red);
}

.skill_connector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    align-items: center;
}

.connector_2 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.connector_3 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.connector_4 {
    grid-column: 1/2;
    grid-row: 7/8;
}

.skill {
    height: min-content;
    color: var(--red);
    background-color: var(--red);
    font-size: 17px;
    padding: 6px;
    border-radius: 3px;
}

.skill_active {
    transition: all ease-in-out 0.7s;
    background-color: var(--soft);
    color: black;
}

.skill_fake {
    background-color: var(--red);
    color: var(--white);
}

.firstConnector {
    height: 100%
}

.color_red {
    stroke: var(--red);
}

.icon_database {
    grid-column: 1/2;
    grid-row: 2/3;
}

.icon_backend {
    grid-column: 1/2;
    grid-row: 4/5;
}

.icon_frontend {
    grid-column: 1/2;
    grid-row: 6/7;
}

.icon_deployment {
    grid-column: 1/2;
    grid-row: 8/9;
}

.skill_cluster {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    gap: 6px;
}

.skill_cluster_database {
    grid-row: 2/3;
}

.skill_cluster_backend {
    grid-row: 4/5;
}

.skill_cluster_frontend {
    grid-row: 6/7;
}

.skill_cluster_deploy {
    grid-row: 8/9;
}

@media screen and (min-width: 1200px){
    .skill_content {
        box-sizing: border-box;
        margin: 0;
    }

    .skill_table {
        box-sizing: border-box;
        display: grid;
        width: 100%;
        padding: 20px;
        grid-template-columns: 1fr 50px 1fr 50px 1fr 50px ;
        grid-row-gap: 20px;
        grid-column-gap: 0;
        grid-template-rows: repeat(4, 90px 1fr);
    }

    .skill {
        font-size: 14px;
    }

    .icon_database {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .icon_backend {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .icon_frontend {
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .icon_deployment {
        grid-column: 7/8;
        grid-row: 1/2;
    }

    .skill_cluster_database {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .skill_cluster_backend {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .skill_cluster_frontend {
        grid-row: 2/3;
        grid-column: 5/6;
    }

    .skill_cluster_deploy {
        grid-row: 2/3;
        grid-column: 7/8;
    }

    .connector_1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .connector_2 {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .connector_3 {
        grid-column: 6/7;
        grid-row: 1/2;
    }

    .connector_4 {
        display: none;
    }
}